---
import Layout from "../layouts/Layout.astro"
// Supports weights 300-700
import '@fontsource-variable/fira-code';

import Button from "../components/ButtonSuscribe"

import Card from "../components/new-card.astro"

import CardSkills from "../components/card-skills.astro";

import bgimg from "../images/image.png"
import NavBar from "../components/nav-bar.astro";

---
<Layout title="Esteban Portafolio">
	<div class="relative mx-auto h-screen w-full max-w-7xl px-6 md:px-8 lg:px-12">
		<NavBar/>
		<div class="relative mx-auto flex max-w-2xl flex-col items-center mt-40">
			<div class="mb-8 flex">
				<a href="https://github.com/estebanvfx" target="_blank" rel="noopener noreferrer" class="inline-flex">
					<span class="relative inline-block overflow-hidden rounded-full p-[1px]">
						<span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#a9a9a9_0%,#0c0c0c_50%,#a9a9a9_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#171717_0%,#737373_50%,#171717_100%)]">
						</span>
						<div class="inline-flex h-full w-full cursor-pointer justify-center rounded-full bg-white px-10 py-2 stext-sm leading-5 text-slate-600 backdrop-blur-xl dark:bg-black dark:text-slate-200">
							The
							<span class="inline-flex items-center pl-2 text-black dark:text-white">Button<!-- --> 
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="pl-0.5 text-black dark:text-white"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path>
								</svg>
							</span>
						</div>
					</span>
				</a>
			</div>
			<!-- container i'm -->
			<div class="grid justify-items-center mb-14">
				<!-- IMAGE DE PORTADA -->
				<div class="mb-8">
					<img src="https://img.wattpad.com/6e10fe43fb8c450fc971f5f9a30c471153a29a2e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6353377a706941574530425937513d3d2d32362e313630643937663934353530623561363935393136313931383537302e6a7067?s=fit&w=720&h=720" alt="" class="h-56 rounded-full">
				</div>
				<h1 class="text-white text-6xl font-bold text-center">Howdy! I'm /Esteban/ <br><!-- -->
					<span class="animate-text-gradient inline-flex bg-gradient-to-r from-neutral-900 via-slate-500 to-neutral-500 bg-[200%_auto] bg-clip-text leading-tight text-transparent dark:from-neutral-100 dark:via-slate-400 dark:to-neutral-400 text-3xl">A Software Developer</span>
				</h1>
			</div>
			<div class="text-white w-full h-auto mb-10">
				<Card/>
			</div>

			<div class="w-full">
				<h1 class="text-white font-bold text-3xl text-center mb-1" >Skills</h1>
				<CardSkills/>
			</div>
			
		</div>
	</div>
</Layout>

