---
import Card from '../components/Card2.astro'

import Layout from "../layouts/Layout.astro"
---

<Layout title='Projects'>
    <h1>Mis projectos </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, maiores.</p>
    
    

      
</Layout>

