---
interface Props{
    title? : string,
    body? : string
}

const {title = "Titulo desas", body = "No hay nada"} = Astro.props
---

<div class="bg-sky-500 p-10 m-3 shadow-sm">
    <h1>{title}</h1>
    <p>{body}</p>
</div>

<style>
    .card{
        background: #202020;
        border-radius: 5px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 300px;
        margin-bottom: 5px;
    }
</style>