---

---



<div class="text-default max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800/20 dark:border-gray-700 my-5">
    <!-- <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt=""> -->
    <div class="bg-gradient-to-r from-red-500 via-white-500 to-black-500 h-[300px] rounded-t-lg flex justify-center items-center">
        <h1 class="font-bold text-4xl text-white">STREAM<span class="text-red-700">FORCE</span></h1>
    </div>
    <div class="p-5 text-white flex flex-col items-center">
        <h5 class="font-normal text-2xl" >StreamForge</h5>
        <p class="text-center my-5">StreamForge automatiza transmisiones de música en Spotify y Tidal.</p>
        <div class="flex flex-wrap max-w-3xl gap-3 justify-center">
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://icon.icepanel.io/Technology/svg/Laravel.svg" alt="" class="h-6 w-6">
                <p>Laravel</p>
            </div>
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/2048px-Microsoft_.NET_logo.svg.png" alt="" class="h-6 w-6">
                <p>.NET</p>
            </div>
        </div>
    </div>
</div>

<div class="text-default max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800/20 dark:border-gray-700 my-5">
    <!-- <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt=""> -->
    <div class="bg-gradient-to-r from-red-500 via-white-500 to-black-500 h-[300px] rounded-t-lg flex justify-center items-center">
        <h1 class="font-bold text-4xl text-white">STREAM<span class="text-red-700">FORCE</span></h1>
    </div>
    <div class="p-5 text-white flex flex-col items-center">
        <h5 class="font-normal text-2xl" >StreamForge</h5>
        <p class="text-center my-5">StreamForge automatiza transmisiones de música en Spotify y Tidal.</p>
        <div class="flex flex-wrap max-w-3xl gap-3 justify-center">
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://icon.icepanel.io/Technology/svg/Laravel.svg" alt="" class="h-6 w-6">
                <p>Laravel</p>
            </div>
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/2048px-Microsoft_.NET_logo.svg.png" alt="" class="h-6 w-6">
                <p>.NET</p>
            </div>
        </div>
    </div>
</div>
<div class="text-default max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800/20 dark:border-gray-700 my-5">
    <!-- <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt=""> -->
    <div class="bg-gradient-to-r from-red-500 via-white-500 to-black-500 h-[300px] rounded-t-lg flex justify-center items-center">
        <h1 class="font-bold text-4xl text-white">STREAM<span class="text-red-700">FORCE</span></h1>
    </div>
    <div class="p-5 text-white flex flex-col items-center">
        <h5 class="font-normal text-2xl" >StreamForge</h5>
        <p class="text-center my-5">StreamForge automatiza transmisiones de música en Spotify y Tidal.</p>
        <div class="flex flex-wrap max-w-3xl gap-3 justify-center">
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://icon.icepanel.io/Technology/svg/Laravel.svg" alt="" class="h-6 w-6">
                <p>Laravel</p>
            </div>
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/2048px-Microsoft_.NET_logo.svg.png" alt="" class="h-6 w-6">
                <p>.NET</p>
            </div>
        </div>
    </div>
</div>
<div class="text-default max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800/20 dark:border-gray-700 my-5">
    <!-- <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt=""> -->
    <div class="bg-gradient-to-r from-red-500 via-white-500 to-black-500 h-[300px] rounded-t-lg flex justify-center items-center">
        <h1 class="font-bold text-4xl text-white">STREAM<span class="text-red-700">FORCE</span></h1>
    </div>
    <div class="p-5 text-white flex flex-col items-center">
        <h5 class="font-normal text-2xl" >StreamForge</h5>
        <p class="text-center my-5">StreamForge automatiza transmisiones de música en Spotify y Tidal.</p>
        <div class="flex flex-wrap max-w-3xl gap-3 justify-center">
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://icon.icepanel.io/Technology/svg/Laravel.svg" alt="" class="h-6 w-6">
                <p>Laravel</p>
            </div>
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/2048px-Microsoft_.NET_logo.svg.png" alt="" class="h-6 w-6">
                <p>.NET</p>
            </div>
        </div>
    </div>
</div>
<div class="text-default max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800/20 dark:border-gray-700 my-5">
    <!-- <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt=""> -->
    <div class="bg-gradient-to-r from-red-500 via-white-500 to-black-500 h-[300px] rounded-t-lg flex justify-center items-center">
        <h1 class="font-bold text-4xl text-white">STREAM<span class="text-red-700">FORCE</span></h1>
    </div>
    <div class="p-5 text-white flex flex-col items-center">
        <h5 class="font-normal text-2xl" >StreamForge</h5>
        <p class="text-center my-5">StreamForge automatiza transmisiones de música en Spotify y Tidal.</p>
        <div class="flex flex-wrap max-w-3xl gap-3 justify-center">
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://icon.icepanel.io/Technology/svg/Laravel.svg" alt="" class="h-6 w-6">
                <p>Laravel</p>
            </div>
            <div class="flex bg-slate-800 px-6 py-2 rounded-lg gap-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/2048px-Microsoft_.NET_logo.svg.png" alt="" class="h-6 w-6">
                <p>.NET</p>
            </div>
        </div>
    </div>
</div>


<style>
    .text-default {
    font-family: "Arial", sans-serif;
    }
</style>
