---
interface Props {
    title? : string,
    content? : string
}

const {title, content} = Astro.props
---
<style>
  .glow {
  animation: move 5s linear infinite;
  offset-path: rect(0% auto 100% auto);
  background: radial-gradient(#fff, #f1f5f9, transparent);
  }

  @keyframes move {
      0% {
          offset-distance: 0%;
      }

      100% {
          offset-distance: 100%;
      }
  }

</style>

<div class="overflow-hidden p-px relative rounded-2xl bg-neutral-600/20">
  <div class="glow inset-0 w-[100px] h-[100px] absolute rotate-45"></div>
  <div class=" p-5 inline-block space-y-2 w-full bg-gradient-to-b from-slate-800 to-slate-900 rounded-2xl z-10 relative px-5 py-2">
      <div class="w-full p-5">
        <div class="flex items-center space-x-2">
            <img src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_0da7b47285284f30b8b62daaa20d0c11/default/light/1.0" alt="" class="h-6 w-6">
            <h1 class="font-bold text-3xl">About me</h1>     
        </div>
        <p class="sm:text-lg mt-2 text-sm">I'm a self-taught fullstack programmer with a weakness for C# and Java. I love cats :D . I also like to listen to corridos and salsa while I work. I dive into the playful world of hacking through hardware and cybersecurity while playing with open source projects. ⛄</p>
    </div>
  </div>
</div>





<!-- <div class="mb-8 flex">
    <div class="inline-flex">
        <span class="relative inline-block overflow-hidden rounded-lg p-[1px]">
            <span class="absolute inset-[-2000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#a9a9a9_0%,#0c0c0c_50%,#a9a9a9_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#171717_0%,#737373_50%,#171717_100%)]">
            </span>
            <div class="inline-flex h-full w-full justify-center rounded-lg bg-white px-10 py-2 stext-sm leading-5 text-slate-600 backdrop-blur-xl dark:bg-black dark:text-slate-200">
                <h1>Hola</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, velit ad delectus excepturi praesentium autem molestiae repellendus illum unde alias saepe expedita placeat, dicta voluptatem. Exercitationem natus impedit ipsa recusandae!</p>
            </div>
        </span>
    </div>
</div> -->

<!-- <div class="">
    <h1>TITULO</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo alias obcaecati cum eveniet sed quisquam similique aspernatur? Accusamus commodi debitis adipisci quod sunt aliquid et. Esse necessitatibus alias ipsum repudiandae.</p>
</div> -->


